/************VARIABLE DE COULEURS ********************/
/***************LOGO**********************************/
@import url("https://fonts.googleapis.com/css?family=Saira+Extra+Condensed");
.logo {
  width: 170px;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
}

.logo1 {
  width: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.logob {
  width: 240px;
  position: absolute;
  padding-top: 10px;
  padding-left: 10px;
}

.inscrit {
  padding-left: 30px;
  padding-top: 20px;
}

/********************* BASE COMMUNE ***************************/
body {
  line-height: 1.7;
  color: black;
  font-weight: 400;
  font-size: 0.9rem;
  overflow-x: hidden;
}

::-moz-selection {
  background: black;
  color: white;
}

::selection {
  background: black;
  color: white;
}

a:hover {
  color: #181818;
}

a {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

a :hover {
  text-decoration: none !important;
}

/*********************PAGE INDEX******************************/
.fondjaune {
  margin-top: 6rem;
  margin-left: 40px;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  -webkit-transform: scale(1.5) !important;
          transform: scale(1.5) !important;
}

.liste {
  padding-bottom: 70px;
  text-align: center;
}

.liste .zone {
  padding-bottom: 30px;
}

.liste .zone .toque1 {
  margin-bottom: 90px;
  position: absolute;
  height: 70px;
  margin-left: 120px;
}

.liste .zone .toque2 {
  margin-bottom: 90px;
  position: absolute;
  height: 70px;
  margin-left: 150px;
}

.site-section1 .text-white {
  color: white;
}

/*PRESENTATION 3 PRODUITS PAGE INDEX*/
img.CartP {
  width: 300px;
  height: 300px;
}

.imgprod {
  width: 500px;
}

.CarteP {
  height: 500px;
  text-align: center;
  padding-top: 50px;
}

.CarteP:hover {
  -webkit-box-shadow: 2px 8px 10px #cccccc;
          box-shadow: 2px 8px 10px #cccccc;
}

.CarteP h4 {
  color: black;
  font-size: 26px;
  margin-bottom: 40px;
}

.CarteP .prix {
  font-size: 20px;
  margin-bottom: 40px;
}

.CarteP a.btn {
  padding: 5px 50px;
  border-radius: 10px !important;
}

.CarteP a.btn:hover {
  color: white;
  background-color: black;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/***********PAGE LIVRE D'OR************************/
.site-section .text-black {
  color: black !important;
}

.site-section .text-black1 {
  color: black !important;
  font-weight: 500;
  padding-bottom: 80px;
}

/********************** LES BOUTONS ***********************/
.btn {
  position: relative;
  top: 0;
  border-radius: 15px !important;
  margin: 0;
  border-color: white;
  border: 2px solid;
  text-transform: initial;
}

.btn :hover,
.btn :active,
.btn :focus {
  outline: none;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.btn.btn-secondary {
  background-color: #e6e7e9;
  border-color: #e6e7e9;
  color: black;
}

.btn.btn-sm {
  font-size: 0.9rem;
  border-radius: 30px;
}

.btn:hover {
  -webkit-box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
  box-shadow: 0 5px 20px -7px rgba(0, 0, 0, 0.9) !important;
}

.btn.btn-white.btn-outline-white {
  border-color: white;
  background: transparent;
  color: white;
}

.btn.btn-white.btn-outline-white:hover {
  background: white;
  color: black;
}

/* BOUTON PRODUITS */
.boutonprod {
  color: black;
  background-color: transparent;
  background-image: none;
  border: solid 2px black;
  padding: 8px 50px;
  border-radius: 10px;
  text-transform: initial;
  font-weight: 400;
}

.boutonprod:hover {
  color: white;
  background-color: black;
  border-color: transparent;
  text-decoration: none;
  -webkit-box-shadow: 10px 10px 37px -12px rgba(0, 0, 0, 0.27);
          box-shadow: 10px 10px 37px -12px rgba(0, 0, 0, 0.27);
}

.boutonprod:after {
  display: none !important;
}

.boutonprod4 {
  color: white;
  background-color: transparent;
  background-image: none;
  border: solid 2px white;
  padding: 8px 50px;
  border-radius: 10px;
  text-transform: initial;
  font-weight: 400;
}

.boutonprod4:hover {
  color: black;
  background-color: white;
  border-color: transparent;
  text-decoration: none;
  -webkit-box-shadow: 10px 10px 37px -12px rgba(0, 0, 0, 0.27);
          box-shadow: 10px 10px 37px -12px rgba(0, 0, 0, 0.27);
}

.boutonprod4:after {
  display: none !important;
}

/********* PAGE POUR CHAQUE BOX: ECO CLASSIQUE ET SUR MESURE ************/
.boutonprod1 {
  color: #FDCF04;
  background-color: white;
  border: solid 2px #FDCF04;
  padding: 8px 28px;
  border-radius: 10px;
  text-transform: initial;
  font-weight: 400;
  margin-left: 10px;
}

.boutonprod1:hover {
  color: white;
  background-color: #FDCF04;
  border: solid 2px transparent;
  text-decoration: none;
}

.boutonprod1:after {
  display: none !important;
}

/********* PAGE BOX 3 PRODUITS ************/
.boutonprod3 {
  color: #F4274C;
  background-color: white;
  background-image: none;
  border: solid 2px #F4274C;
  padding: 8px 30px;
  border-radius: 12px;
  text-transform: initial;
  font-weight: 400;
}

.boutonprod3:hover {
  color: #fff;
  background-color: #F4274C;
  border-color: transparent;
  text-decoration: none;
}

.boutonprod3:after {
  display: none !important;
}

/***************FORMULAIRE**************/
.form-control {
  height: 47px;
  border-radius: 10px;
}

.form-control :active,
.form-control :focus {
  border-color: #F4274C;
}

.form-control :hover,
.form-control :active,
.form-control :focus {
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/**************SECTIONS***************/
p .commentaire {
  color: white !important;
  text-align: left;
  width: 470px;
  margin-top: 50px;
  font-size: 16px;
}

.site-section {
  padding: 9em 0;
}

.site-section .text-black4 {
  color: #FDCF04 !important;
}

.site-section .site-section-sm {
  padding: 4em 0;
}

.site-section-heading {
  font-size: 30px;
  color: black;
  position: relative;
}

.site-section-heading :before {
  content: "";
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #F4274C;
}

.site-section-heading .text-center:before {
  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #F4274C;
}

.site-section3 {
  padding: 3em 0;
}

.site-section1 {
  background-color: #27CDF4;
}

.site-section1-heading {
  font-size: 30px;
  color: black;
  position: relative;
}

.site-section1-heading :before {
  content: "";
  left: 0%;
  top: 0;
  position: absolute;
  width: 40px;
  height: 2px;
  background: #F4274C;
}

.site-section1-heading .text-center :before {
  content: "";
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  position: absolute;
  width: 40px;
  height: 2px;
  background: #F4274C;
}

/************PAGE PRODUITS**************/
/*SECTIONN PRODUIT*/
.site-section3 {
  background-color: white;
}

.site-section3 h2 {
  color: #FDCF04;
  font-weight: 400;
}

.site-section3-heading {
  font-size: 30px;
  color: #FDCF04;
  position: relative;
}

/*********** LIGNE DECORATION********/
.ligne {
  height: 20px;
  width: 100%;
  -webkit-box-shadow: inset -1px 12px 3px -7px rgba(0, 0, 0, 0.04);
          box-shadow: inset -1px 12px 3px -7px rgba(0, 0, 0, 0.04);
  margin-top: 120px;
  position: absolute;
}

/***************FOOTER*****************/
.site-footer .Agence {
  margin-top: 50px;
  padding-left: 30px;
  margin-right: 20px;
}

.site-footer .col-6 {
  padding-top: 3rem !important;
}

.site-footer .footer-heading {
  font-size: 20px;
}

.site-footer a {
  color: black;
}

.site-footer ul li {
  margin-bottom: 10px;
}

/***************** FIN FOOTER *******************/
/***************** BACKROUNG IMAGE *************/
.bg-image {
  background-size: cover;
  background-repeat: no-rpeeat;
  overflow: hidden;
  background-position: center center;
}

.bg-image .center {
  background-position: top center;
}

.bg-image .fixed {
  background-position: fixed !important;
}

.bg-image .bg-image.overlay,
.bg-image.overlay-primary,
.bg-image.overlay-info,
.bg-image.overlay-success,
.bg-image.overlay-warning {
  position: relative;
}

.bg-image.overlay:before,
.bg-image.overlay-primary:before,
.bg-image.overlay-info:before,
.bg-image.overlay-success:before,
.bg-image.overlay-warning:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

/******************BLOCKS*******************/
.site-blocks-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

.site-blocks-cover.overlay {
  position: relative;
}

.site-blocks-cover.overlay:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  background: black;
}

.site-blocks-cover,
.site-blocks-cover .row {
  min-height: 600px;
  height: calc(100vh);
}

.site-blocks-cover.inner-page,
.site-blocks-cover.inner-page .row {
  min-height: 600px;
  height: calc(80vh);
}

.site-blocks-cover .sub-text {
  font-size: 1.1rem;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  letter-spacing: .2em;
  padding-right: 40px;
}

.site-blocks-cover h1,
.fat-headline {
  font-weight: 900;
  color: white;
  text-transform: uppercase;
  font-size: 3rem;
}

.site-blocks-cover h1 strong {
  font-weight: 900;
}

.site-blocks-cover p {
  color: white;
  font-size: 1.5rem;
  line-height: 1.5;
}

.site-blocks-cover .intro-text {
  font-size: 16px;
  line-height: 1.5;
}

.text-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-5 {
  color: black 0, 0, 0, 0.5;
}

.site-block-3 .row-items {
  height: calc(50% - 15px);
  margin-bottom: 30px;
}

.site-block-3 .row-items.last {
  height: calc(50% - 15px);
  margin-bottom: 0;
}

.site-block-3 .feature {
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  height: 500px;
}

.site-block-3 .feature h3 {
  color: black;
  font-size: 1.4rem;
}

.site-block-3 .feature:hover,
.site-block-3 .feature:active,
.site-block-3 .feature:focus,
.site-block-3 .feature.active {
  -webkit-box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 20px -2px rgba(0, 0, 0, 0.1);
  background-color: #232323 !important;
}

/************ CONDITIONS GENERALES ************/
.post-entry {
  position: relative;
  overflow: hidden;
  border: 1px solid #e6e6e6;
}

/********* TEMOIGNAGE CARROUSSEL *************/
.block-13,
.slide-one-item {
  position: relative;
  z-index: 1;
}

.block-13 .owl-nav,
.slide-one-item .owl-nav {
  position: relative;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.block-13 .owl-nav .owl-prev,
.block-13 .owl-nav .owl-next,
.slide-one-item .owl-nav .owl-prev,
.slide-one-item .owl-nav .owl-next {
  position: relative;
  display: inline-block;
  padding: 20px;
  font-size: 30px;
  color: white;
}

.block-13 .owl-nav .owl-prev.disabled,
.block-13 .owl-nav .owl-next.disabled,
.slide-one-item .owl-nav .owl-prev.disabled,
.slide-one-item .owl-nav .owl-next.disabled {
  opacity: .2;
}

.block-13 .owl-stage-outer {
  padding-top: 30px;
  padding-bottom: 30px;
}

.block-13 .owl-dots {
  text-align: center;
}

.block-13 .owl-dots .owl-dot {
  display: inline-block;
  margin: 5px;
}

.block-13 .owl-dots .owl-dot > span {
  line-height: 0;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: none;
  background: #cccccc;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
  border-radius: 40px;
}

.block-13 .owl-dots .owl-dot.active > span {
  background: #F4274C;
}

.slide-one-item.home-slider .owl-nav {
  position: absolute !important;
  top: 50% !important;
  bottom: auto !important;
  width: 100%;
}

.slide-one-item.home-slider .owl-prev {
  left: 10px !important;
}

.slide-one-item.home-slider .owl-next {
  right: 10px !important;
}

.slide-one-item.home-slider .owl-prev,
.slide-one-item.home-slider .owl-next {
  color: white;
  position: absolute !important;
  top: 50%;
  padding: 0px;
  height: 50px;
  width: 50px;
  border-radius: 0%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  line-height: 0;
  text-align: center;
  font-size: 25px;
}

.slide-one-item.home-slider .owl-prev > span,
.slide-one-item.home-slider .owl-next > span {
  position: absolute;
  line-height: 0;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.slide-one-item.home-slider .owl-prev:hover,
.slide-one-item.home-slider .owl-prev:focus,
.slide-one-item.home-slider .owl-next:hover,
.slide-one-item.home-slider .owl-next:focus {
  background: black;
}

.slide-one-item.home-slider:hover .owl-nav,
.slide-one-item.home-slider:focus .owl-nav,
.slide-one-item.home-slider:active .owl-nav {
  opacity: 10;
  visibility: visible;
}

/************ END SLIDER *************/
/************ COMMENTAIRE ***********/
.block-47 .block-47-image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 70px;
  flex: 0 0 70px;
  display: block;
}

.block-47 .block-47-image img {
  border: 5px solid white;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
}

.block-47 .block-47-quote {
  padding: 30px;
  font-weight: 300;
  background: white;
  border-radius: 7px;
  position: relative;
  -webkit-box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 30px -2px rgba(0, 0, 0, 0.1);
}

.block-47 .block-47-quote:before {
  content: "";
  border: 1px solid #F4274C;
  z-index: 2;
  position: absolute;
  left: -15px;
  border-width: 0 20px 20px 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.block-47 .block-47-quote .block-47-quote-author {
  font-size: 14px;
  color: #666666;
}

.site-block-check li {
  padding: 0 !important;
  margin: 0;
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  margin-right: 20px;
}

.site-block-check2 {
  padding: 0;
  margin: 0 0 40px 0;
}

.site-block-check2 li {
  padding: 0;
  margin: 0;
  display: block;
  position: relative;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  color: black;
}

/***********FOOTER *************/
.Agence {
  padding-right: 2rem;
  line-height: 2.2;
  border-left: solid black 2px;
  border-right: solid black 2px;
}

.AgenceM {
  padding-left: 6rem;
  padding-bottom: 50px;
  line-height: 2.2;
}

.list-unstyled2 {
  font-weight: lighter;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

.site-footer {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

.footer-heading {
  color: #F4274C;
}

li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

li a {
  position: relative;
  list-style: none;
  color: #1b1b1b;
  text-decoration: none !important;
}

/*********** END FOOTER **************/
.fab {
  padding-right: 10px;
}

/*********** EXPLICATION DES BOXS **************/
.explications1 {
  font-size: 18px;
  padding-bottom: 40px;
}

.display-3m {
  font-size: 3.5rem;
  font-weight: 200;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 30px;
  color: #F4274C;
}

.explications {
  color: #F4274C;
  font-weight: 500;
  font-size: 40px;
}

.numero {
  font-size: 20px;
  color: white;
}

/*PAGE ACCEUIL DIFFERENT PRODUIT*/
img.CartP {
  width: 300px;
  height: 300px;
}

.imgprod {
  width: 500px;
}

.CarteP {
  height: 500px;
  text-align: center;
  padding-top: 50px;
}

.CarteP:hover {
  -webkit-box-shadow: 2px 8px 10px #cccccc;
          box-shadow: 2px 8px 10px #cccccc;
}

.CarteP h4 {
  color: #000;
  font-size: 26px;
  margin-bottom: 40px;
}

.CarteP .prix {
  font-size: 20px;
  margin-bottom: 40px;
}

.CarteP a.btn {
  padding: 5px 50px;
  border-radius: 10px !important;
}

.CarteP a.btn:hover {
  color: #ffffff;
  background-color: #000;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

/*PRODUITS*/
/****** BACKGROUND COULEUR ******/
.back2 {
  background-color: #ffffff;
}

.back3 {
  background-color: white;
}

/*************PAGE CONTACT **********/
.font {
  color: #F4274C;
  font-weight: 50px;
  font-size: 20 px;
}

.bg-white3 {
  -webkit-box-shadow: 2px 4px 5px #cccccc;
          box-shadow: 2px 4px 5px #cccccc;
  background-color: white !important;
}

.text-rose {
  color: #F4274C;
}

.titre {
  color: #F4274C;
  padding-bottom: 30px;
}

/**************HEADER ****************/
/******** MENU BURGER ********/
#menuToggle {
  display: block;
  position: fixed;
  top: 50px;
  right: 50px;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
  -webkit-touch-callout: none;
}

#menuToggle span {
  display: block;
  width: 38px;
  height: 5px;
  margin-bottom: 5px;
  position: relative;
  background: #222222;
  z-index: 1;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease, -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(-3px, -1px);
          transform: rotate(45deg) translate(-3px, -1px);
  background: #232323;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(0, -1px);
          transform: rotate(-45deg) translate(0, -1px);
}

.burgerm {
  position: fixed;
}

#menu {
  -webkit-box-shadow: 0 -0.2rem 1rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 -0.2rem 1rem rgba(0, 0, 0, 0.15);
  position: absolute;
  width: 500px;
  min-height: calc(100vh + 2rem);
  margin: -100px 0 0 0;
  padding: 50px;
  padding-top: 125px;
  right: -100px;
  text-align: center;
  background-color: white;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu a::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%) scaleX(0);
          transform: translateX(-50%) scaleX(0);
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  width: 100%;
  height: 0.16em;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
}

#menu a:hover::after {
  -webkit-transform: translateX(-50%) scaleX(1);
          transform: translateX(-50%) scaleX(1);
}

#menu li {
  padding: 20px 20px 0 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}

/********* PAGE QUI SOMMES NOUS ? *********/
.pdesc {
  width: 60%;
}

.tray {
  position: absolute;
  margin-left: 40px;
  height: 70px;
}

.chef {
  position: absolute;
  height: 70px;
  margin-left: 40px;
  -webkit-transform: rotate(300deg);
          transform: rotate(300deg);
}

.toque {
  position: absolute;
  height: 70px;
  margin-left: 40px;
}

.cadrage {
  padding-left: 60px;
  width: 500px;
}

.sdesc {
  text-transform: lowercase;
  padding: 60px;
  text-align: justify;
}

.hauteur {
  height: 450px;
}

.hauteur1 {
  height: 510px;
}

/**************PAGE PRODUIT ****************/
.prixdesc {
  padding-top: 10px;
  padding-left: 100px;
}

.prixs {
  border-bottom: 3px solid #FDCF04;
  width: 150px;
  padding-bottom: 10px;
  margin-left: 11px;
  font-size: 70px;
}

/*PAGE PRODUITS BOX1 */
.imgboite {
  height: 320px;
  width: 400px;
}

.container {
  max-width: 1145px;
  margin: 0 auto;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-item {
  width: 500px;
  height: 500px;
  margin: 10px;
  text-decoration: none;
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-item img {
  width: 525px;
  height: 525px;
}

.gallery-item .name {
  font-size: 40px;
}

.gallery-item .title {
  font-size: 15px;
}

.gallery-item img {
  position: absolute;
}

.gallery-item img :hover {
  opacity: 0.2;
}

.text-wrapper {
  position: relative;
  width: 525px;
  height: 525px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #222222;
  opacity: 0;
}

.text-wrapper .title {
  margin: 20px;
}

.text-wrapper:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  background: rgba(255, 255, 255, 0.9);
  opacity: 1;
  -webkit-box-shadow: 9px 0px 21px -8px rgba(179, 175, 179, 0.77);
          box-shadow: 9px 0px 21px -8px rgba(179, 175, 179, 0.77);
}

.name {
  font-size: 1.5em;
}

/******** BOUTON RETURN **********/
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  background: rgba(0, 0, 0, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  text-decoration: none;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i {
  color: white;
  margin: 0;
  position: relative;
  left: 16px;
  top: 13px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#return-to-top i :hover {
  background: rgba(0, 0, 0, 0.9);
}

#return-to-top i :hover i {
  color: white;
  top: 5px;
}

/*******************  END RETURN  *****************/
.site-section4 {
  text-align: center;
  padding-top: 200px;
}

.site-section4 .spe {
  text-align: left;
  font-size: 35px;
  font-weight: 300;
  padding-bottom: 150px;
  margin-top: 50px;
  padding-left: 110px;
}

.site-section4 .spe2 {
  text-align: left;
  font-size: 35px;
  font-weight: 300;
  margin-top: 200px;
  padding-left: 110px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-weight: normal;
}

/*******************   ANIMATION CARTE FLIP   ****************/
.flip {
  cursor: pointer;
  position: relative;
}

.flip > .front,
.flip > .back {
  display: block;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 2s;
          transition-duration: 2s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.flip > .front {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip > .back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flip:hover > .front {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip:hover > .back {
  opacity: 1;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.flip.flip-vertical > .back {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.flip.flip-vertical:hover > .front {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.flip.flip-vertical:hover > .back {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
}

.flip {
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 400px;
  height: 300px;
}

.flip > .front,
.flip > .back {
  display: block;
  color: white;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 300px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 5px;
  border-bottom: #F4274C solid 30px;
}

.flip > .front h2,
.flip > .back h2 {
  padding-bottom: 30px;
}

.flip > .front p,
.flip > .back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #999;
  text-align: left;
  padding-right: 30px;
}

.text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04), 3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04), 0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04), 7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04), 9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04), 11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04), 13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04), 0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04), 17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04), 19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

/**********    PAGE LIVRE D'OR   **************/
textarea:focus {
  background: none repeat scroll 0 0 #FFFFFF;
  outline-width: 0;
}

.boxshadow {
  -webkit-box-shadow: 9px 0px 21px -8px rgba(179, 175, 179, 0.77);
          box-shadow: 9px 0px 21px -8px rgba(179, 175, 179, 0.77);
}

.bg-white4 {
  width: 900px;
  -webkit-box-shadow: 2px 4px 5px #cccccc;
          box-shadow: 2px 4px 5px #cccccc;
  background-color: #fff !important;
}

/*************************   RESPONSIVE   *************************/
@media only screen and (max-width: 1024px) {
  .text-wrapper {
    width: 350px;
    height: 350px;
  }
  .gallery-item {
    width: 350px;
    height: 350px;
  }
  .gallery-item img {
    width: 350px;
    height: 350px;
  }
  .gallery-item .name {
    font-size: 20px;
  }
  .gallery-item .title {
    margin-bottom: 1em;
    font-size: 10px;
  }
}

@media screen and (max-width: 800px) {
  .Agence {
    padding-right: 2rem;
    line-height: 2.2;
    border-left: solid black 0px;
    border-right: solid black 0px;
  }
  .cadrage {
    padding-left: 0px;
    width: 500px;
  }
  .pdesc {
    width: 40%;
  }
  .tray {
    position: absolute;
    margin-left: 40px;
    height: 0px;
  }
  .chef {
    position: absolute;
    height: 0px;
    margin-left: 40px;
    -webkit-transform: rotate(300deg);
            transform: rotate(300deg);
  }
  .toque {
    position: absolute;
    height: 0px;
    margin-left: 40px;
  }
  .site-section4 .spe2 {
    text-align: left;
    font-size: 35px;
    font-weight: 300;
    margin-top: 200px;
    padding-left: 40px;
  }
  .site-section4 .spe {
    text-align: left;
    font-size: 35px;
    font-weight: 300;
    margin-top: 100px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 600px) {
  .imgboite {
    margin-top: 30px;
    height: 220px;
    width: 300px;
  }
  .text-wrapper {
    width: 250px;
    height: 250px;
  }
  .gallery-item {
    width: 250px;
    height: 250px;
  }
  .gallery-item img {
    width: 250px;
    height: 250px;
  }
  .gallery-item .name {
    font-size: 20px;
  }
  .gallery-item .title {
    margin-bottom: 1em;
    font-size: 10px;
  }
}

@media (min-width: 768px) {
  .site-section {
    padding: 7em 0;
  }
  .site-section1 {
    padding: 7em 0;
  }
}

@media (min-width: 768px) {
  .site-section1 {
    padding: 10em 0;
  }
}

@media (min-width: 8px) {
  .site-section3 {
    padding: 7em 0;
  }
}

@media all and (max-width: 930px) {
  .site-section3 {
    padding-left: 3em;
  }
}

@media all and (max-width: 1150px) {
  .site-section {
    padding-left: 3em;
    padding-right: 3em;
  }
  .site-section1 {
    padding-left: 3em;
    padding-right: 3em;
  }
  .logob {
    width: 140px;
    position: absolute;
    padding-top: 10px;
    padding-left: 10px;
  }
  .liste {
    padding-bottom: 70px;
    text-align: center;
  }
  .liste .zone {
    padding-bottom: 30px;
  }
  .liste .zone .toque1 {
    margin-bottom: 90px;
    position: absolute;
    height: 0px;
    margin-left: 100px;
  }
  .liste .zone .toque2 {
    margin-bottom: 90px;
    position: absolute;
    height: 0px;
  }
}

@media screen and (max-width: 572px) {
  .site-footer {
    padding-top: 3rem !important;
  }
}

@media (max-width: 767.98px) {
  .display-3,
  .display-2,
  .display-4 {
    font-size: 2rem !important;
  }
}

@media (max-width: 991.98px) {
  .bg-md-height {
    height: 300px;
  }
}

@media (max-width: 767.98px) {
  .bg-sm-height {
    height: 300px;
  }
}

@media (min-width: 768px) {
  .site-blocks-cover h1 {
    font-size: 5rem;
    font-weight: 300;
    line-height: 1.2;
  }
}

@media (min-width: 768px) {
  .slide-one-item.home-slider .owl-prev,
  .slide-one-item.home-slider .owl-next {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .block-47 .block-47-quote {
    margin-left: 40px;
    font-size: 1.2rem;
  }
}
/*# sourceMappingURL=style.css.map */